[Desktop Entry]
Comment=Free, Open Source and Cross Platform
Exec=rambox -- %u
StartupWMClass=Rambox
GenericName=Messaging and emailing app.
Icon=/usr/share/pixmaps/rambox.png
Name=Rambox
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Categories=Network;Email;InstantMessaging;
X-KDE-SubstituteUID=false
X-KDE-Username=
